<span class="shell">[employer@ec2-resume-server]$</span> <span class="command">ls ~/resume/projects/</span>
<br/><br/>
<div>
	<div class="ls-dir"><a href="#/resume">..</a></div>
	<div ng-repeat="project in projects" class="ls-dir">
		<div>
			<a ng-click="isShown=!isShown" ng-init="isShown=false">{{project.name}}</a>:
		</div>
		<div ng-show="isShown" class="sub-result">
			<table><tbody>
			<tr><td>Organization:</td><td>{{orgs[project.org_key].organization}}</td></tr>
			<tr><td>Description:</td><td>{{project.description}}</td></tr>
			<tr><td><a ng-href="#/resume/experience/{{project.key}}">View Related</a>
			</tbody></table>
		</div>
	</div>
</div>
