<span class="shell">[employer@ec2-resume-server]$</span> <span class="command">ls ~/resume/skills/</span>
<br/><br/>
<div class="ls-results">
	<div class="ls-dir"><a href="#/resume">..</a></div>
	<div ng-repeat="skill in skills" class="ls-dir">
		<div>
			<a ng-click="isShown = !isShown" ng-init="isShown=false">{{skill.name}}</a>:
		</div>
		<div ng-show="isShown">
			<span ng-repeat="(skill_key, skill_value) in skill.elements">
				<a href="#/resume/skills/{{skill_key}}">{{skill_value}}</a>
			</span>
		</div>
	</div>
</div>
