body{
	background-color: Black;
	color: #22FF22;
	font-family: "Droid Sans Mono Dotted", "Lucida Console", Monaco, monospace;
	font-size: 18px;
}

a{
	color: #33FF33;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

#header{
	margin-bottom: 18px;
}

#os-splash{
	font-size: 22px;
	font-weight: bold;
}

.skill-list{
	margin-bottom: 18px;
}

.active-false{
	display: none;
}
