<div>
	<div ng-repeat="reference in references" class="ls-dir">
		<div>
			<a ng-click="isShown=!isShown" ng-init="isShown=false">{{reference.name}}</a>:
		</div>
		<div ng-show="isShown" class="sub-result">
			<table><tbody>
			<tr><td>Institution:</td><td>{{school.organization}}</td></tr>
			<tr><td>Location:</td><td>{{school.location}}</td></tr>
			<tr><td>Graduation:</td><td>{{school.end_date | date}}</td></tr>
			<tr><td>GPA:</td><td>{{school.gpa | number:3}}</td></tr>
			<tr><td>Other:</td><td>{{school.description}}</td></tr>
			<tr><td><a ng-href="#/resume/education/{{school.key}}">View Related</a>
			</tbody></table>
		</div>
	</div>
</div>
